apiVersion: v1
kind: ConfigMap
metadata:
  name: clickhouse-config
  namespace: apphub-system
  labels:
    app.kubernetes.io/name: clickhouse
    app.kubernetes.io/part-of: apphub-runtime
  annotations:
    clickhouse.altinity.com/override: "true"
data:
  storage.xml: |
    <clickhouse>
      <storage_configuration>
        <disks>
          <local_hot>
            <path>/var/lib/clickhouse/disks/local_hot/</path>
          </local_hot>
          <gcs_cold>
            <type>s3</type>
            <endpoint>https://storage.googleapis.com</endpoint>
            <access_key_id incl="env">CLICKHOUSE_S3_ACCESS_KEY_ID</access_key_id>
            <secret_access_key incl="env">CLICKHOUSE_S3_SECRET_ACCESS_KEY</secret_access_key>
            <bucket>$(TIMESTORE_BUCKET)</bucket>
            <metadata_path>/var/lib/clickhouse/disks/gcs_cold/</metadata_path>
          </gcs_cold>
        </disks>
        <policies>
          <timestore_demo>
            <volumes>
              <hot>
                <disk>local_hot</disk>
              </hot>
              <cold>
                <disk>gcs_cold</disk>
              </cold>
            </volumes>
            <move_factor>0.2</move_factor>
          </timestore_demo>
        </policies>
      </storage_configuration>
    </clickhouse>
  users.xml: |
    <clickhouse>
      <users>
        <default>
          <password></password>
        </default>
        <apphub>
          <password_sha256_hex></password_sha256_hex>
          <profile>default</profile>
          <networks>
            <ip>::/0</ip>
          </networks>
        </apphub>
      </users>
    </clickhouse>
