apiVersion: v1
kind: ConfigMap
metadata:
  name: apphub-core-config
  labels:
    app.kubernetes.io/name: apphub-core-config
    app.kubernetes.io/part-of: apphub-infra
data:
  NODE_ENV: production
  APPHUB_AUTH_DISABLED: "true"
  APPHUB_ALLOW_INLINE_MODE: "false"
  APPHUB_EVENTS_MODE: redis
  APPHUB_BUNDLE_STORAGE_BACKEND: s3
  APPHUB_BUNDLE_STORAGE_BUCKET: apphub-job-bundles
  APPHUB_BUNDLE_STORAGE_ENDPOINT: http://apphub-minio:9000
  APPHUB_BUNDLE_STORAGE_REGION: us-east-1
  APPHUB_BUNDLE_STORAGE_FORCE_PATH_STYLE: "true"
  APPHUB_BUNDLE_STORAGE_PREFIX: apphub
  APPHUB_METASTORE_BASE_URL: http://apphub-metastore:4100
  APPHUB_FILESTORE_BASE_URL: http://apphub-filestore:4300
  APPHUB_TIMESTORE_BASE_URL: http://apphub-timestore:4100
  APPHUB_DISABLE_LOOPBACK_REWRITE: "true"
  APPHUB_STREAMING_ENABLED: "false"
  APPHUB_STREAM_BROKER_URL: apphub-redpanda:9092
  APPHUB_FLINK_REST_URL: http://apphub-flink-jobmanager:8081
  APPHUB_K8S_NAMESPACE: apphub-system
  APPHUB_METRICS_ENABLED: "true"
  FILESTORE_EVENTS_MODE: redis
  FILESTORE_METRICS_ENABLED: "true"
  FILESTORE_PG_SCHEMA: filestore
  TIMESTORE_STORAGE_DRIVER: s3
  TIMESTORE_S3_BUCKET: apphub-timestore
  TIMESTORE_S3_ENDPOINT: http://apphub-minio:9000
  TIMESTORE_S3_REGION: us-east-1
  TIMESTORE_S3_FORCE_PATH_STYLE: "true"
  TIMESTORE_PG_SCHEMA: timestore
  OBSERVATORY_FILESTORE_BASE_URL: http://apphub-filestore:4300
  OBSERVATORY_TIMESTORE_BASE_URL: http://apphub-timestore:4100
  OBSERVATORY_METASTORE_BASE_URL: http://apphub-metastore:4100
  OBSERVATORY_CALIBRATIONS_BASE_URL: http://apphub-metastore:4100
  OBSERVATORY_CORE_BASE_URL: http://apphub-core:4000
