apiVersion: v1
kind: ConfigMap
metadata:
  name: apphub-core-config
  labels:
    app.kubernetes.io/name: apphub-core-config
    app.kubernetes.io/part-of: apphub-infra
data:
  NODE_ENV: production
  APPHUB_AUTH_DISABLED: "true"
  APPHUB_ALLOW_INLINE_MODE: "false"
  APPHUB_EVENTS_MODE: redis
  APPHUB_BUNDLE_STORAGE_BACKEND: s3
  APPHUB_BUNDLE_STORAGE_BUCKET: $(TIMESTORE_BUCKET)
  APPHUB_BUNDLE_STORAGE_ENDPOINT: https://storage.googleapis.com
  APPHUB_BUNDLE_STORAGE_REGION: auto
  APPHUB_BUNDLE_STORAGE_FORCE_PATH_STYLE: "true"
  APPHUB_JOB_BUNDLE_STORAGE_BACKEND: s3
  APPHUB_JOB_BUNDLE_S3_BUCKET: $(TIMESTORE_BUCKET)
  APPHUB_JOB_BUNDLE_S3_ENDPOINT: https://storage.googleapis.com
  APPHUB_JOB_BUNDLE_S3_REGION: auto
  APPHUB_JOB_BUNDLE_S3_FORCE_PATH_STYLE: "true"
  APPHUB_METASTORE_BASE_URL: http://apphub-metastore:4100
  APPHUB_FILESTORE_BASE_URL: http://apphub-filestore:4300
  APPHUB_TIMESTORE_BASE_URL: http://apphub-timestore:4100
  APPHUB_DISABLE_LOOPBACK_REWRITE: "true"
  APPHUB_STREAMING_ENABLED: "true"
  APPHUB_STREAM_BROKER_URL: apphub-redpanda:9092
  APPHUB_FLINK_REST_URL: http://apphub-flink-jobmanager:8081
  APPHUB_K8S_NAMESPACE: apphub-system
  APPHUB_METRICS_ENABLED: "true"
  FILESTORE_EVENTS_MODE: redis
  FILESTORE_METRICS_ENABLED: "true"
  FILESTORE_PG_SCHEMA: filestore
  FILESTORE_S3_BUCKET: $(TIMESTORE_BUCKET)
  FILESTORE_S3_ENDPOINT: https://storage.googleapis.com
  FILESTORE_S3_REGION: auto
  FILESTORE_S3_FORCE_PATH_STYLE: "true"
  FILESTORE_AUTOPROVISION_BACKEND_KIND: s3
  FILESTORE_AUTOPROVISION_DEFAULT_BACKEND: "true"
  FILESTORE_AUTOPROVISION_S3_BUCKET: $(TIMESTORE_BUCKET)
  FILESTORE_AUTOPROVISION_S3_ENDPOINT: https://storage.googleapis.com
  FILESTORE_AUTOPROVISION_S3_REGION: auto
  FILESTORE_AUTOPROVISION_S3_FORCE_PATH_STYLE: "true"
  OBSERVATORY_FILESTORE_S3_BUCKET: $(TIMESTORE_BUCKET)
  OBSERVATORY_FILESTORE_S3_ENDPOINT: https://storage.googleapis.com
  OBSERVATORY_FILESTORE_S3_REGION: auto
  OBSERVATORY_FILESTORE_S3_FORCE_PATH_STYLE: "true"
  OBSERVATORY_FILESTORE_BACKEND_KEY: observatory-s3
  TIMESTORE_S3_BUCKET: $(TIMESTORE_BUCKET)
  TIMESTORE_S3_ENDPOINT: https://storage.googleapis.com
  TIMESTORE_S3_REGION: auto
  TIMESTORE_S3_FORCE_PATH_STYLE: "true"
  TIMESTORE_STORAGE_DRIVER: gcs
  TIMESTORE_CLICKHOUSE_HOST: apphub-clickhouse-internal.apphub-system.svc.cluster.local
  TIMESTORE_GCS_BUCKET: $(TIMESTORE_BUCKET)
  TIMESTORE_GCS_PROJECT_ID: $(PROJECT_ID)
  OBSERVATORY_FILESTORE_BASE_URL: http://apphub-filestore:4300
  OBSERVATORY_TIMESTORE_BASE_URL: http://apphub-timestore:4100
  OBSERVATORY_METASTORE_BASE_URL: http://apphub-metastore:4100
  OBSERVATORY_CALIBRATIONS_BASE_URL: http://apphub-metastore:4100
  OBSERVATORY_CORE_BASE_URL: http://apphub-core-internal.apphub-system.svc.cluster.local:4000
